[2020-04-09 06:44] johndowns opened #1 "Replace MSAL with another auth library"
MSAL has problems with Safari on macOS Catalina and iOS 13, so we need to find another auth library :(

[2020-04-09 07:40] johndowns opened #2 "Add a 'no businesses registered' error to vendor list"
This has been partially implemented and commented out, but there is a bug whereby it displays even when there is data in the table.

[2020-04-09 07:43] johndowns opened #3 "Set up non-prod system"

[2020-04-09 07:44] johndowns opened #4 "Tokens are not being cached"
Currently auth tokens are being retrieved before every API operation instead of being cached and reused.

[2020-04-09 20:15] johndowns opened #5 "Get 'forgotten password' feature working"

[2020-04-09 20:33] johndowns opened #6 "Move registration page into vendor portal"
Current form: https://docs.google.com/forms/d/e/1FAIpQLSe7Xr7lOvcItc-vM5gW7YOkgEpFYqJjIf8whmFXzkq4Zet91Q/viewform

[2020-04-09 20:35] johndowns opened #7 "Find best place to host static website"
Currently using app service. Also tried functions proxies on top of a storage account, and Azure CDN on top of a storage account, but had some issues with this.

Requirements:
* Custom domain included
* SSL certificate for custom domain included
* No issues with Angular routes

[2020-04-09 21:36] #3 closed, assigned to nobody

[2020-04-09 21:37] johndowns opened #8 "Merge config file branch into master"
Now that we have a non-prod system as well as a prod system, we can have different configs for each.

[2020-04-09 22:30] johndowns opened #9 "Ignore invalid blank entries at bottom of CSV files"

[2020-04-09 23:40] johndowns opened #10 "Tolerate currency format in CSV import decimal columns"
Excel makes these into strings with extra spaces, currency signs, and $- instead of 0

[2020-04-10 00:57] #5 closed, assigned to nobody

[2020-04-10 01:01] #4 closed, assigned to nobody

[2020-04-10 05:07] johndowns opened #11 "Create keepalive functions for API and UI proxy"

[2020-04-10 06:39] #7 closed, assigned to nobody

[2020-04-10 08:58] #9 closed, assigned to nobody

[2020-04-10 08:58] #10 closed, assigned to nobody

[2020-04-10 22:16] #8 closed

[2020-04-10 22:18] johndowns commented on #1
Looks like MSAL [will be updated soon](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1248) (it was planned to be by the end of March).

[2020-04-10 22:42] johndowns opened #13 "Get voucher list directly by using Shopify API"

[2020-04-10 22:43] johndowns opened #14 "Add link to FAQ to vendor list page"
http://sosbusiness.nz/pages/vendor-portal

[2020-04-10 22:43] johndowns opened #15 "Add link to FAQ to B2C login page"
http://sosbusiness.nz/pages/vendor-portal

[2020-04-10 23:56] #15 closed

[2020-04-10 23:56] #14 closed

[2020-04-10 23:57] johndowns commented on #11
Could potentially update the API function to poll the proxy, which then serves a dual purpose.

[2020-04-11 03:01] johndowns opened #16 "After submitting change to vendor details, scroll back to top of page"

[2020-04-11 08:44] johndowns opened #17 "Handle 404s within front-end"
When the API returns a 404 (e.g. if a vendor isn't accessible), currently the front-end hangs.

This isn't really a big issue since this shouldn't happen due to the way the data stores work, but if it's easy to pop up an error message that would be preferable.

[2020-04-12 19:41] johndowns opened #18 "Enable client-side sorting in lists"
The Angular Material library appears to support client-side sorting (by clicking column names) but this hasn't been fully enabled in the app.

Examples of where this would be useful are:
* Vendor payments list
* Vendor vouchers list

And the equivalents for the administrative view.

[2020-04-12 19:53] johndowns opened #19 "Enable client-side pagination in lists"
Currently for some data sets, the API sends a large array of objects to the client. The Angular Material library appears to support client-side pagination but this hasn't been fully enabled in the app.

Examples of where this would be useful are:
* Vendor payments list
* Vendor vouchers list

And the equivalents for the administrative view.

[2020-04-13 23:04] #17 closed

[2020-04-13 23:04] #2 closed

[2020-04-14 23:28] johndowns opened #23 "Allow editing of other business information (business name, contact name, phone)"

[2020-04-14 23:30] johndowns opened #24 "Allow for additional email addresses to be authorised for vendor access"

[2020-04-14 23:30] johndowns opened #25 "Make T&C acceptance a one-time thing"

[2020-04-14 23:31] johndowns opened #26 "Allow some way business can track which vouchers have been redeemed"
A button or box on the voucher screen? (Must be resilient for if we upload new data sets though so needs to be in a different table)

[2020-04-14 23:31] johndowns opened #27 "Add searching of vouchers in the voucher screen"
By name or voucher ID

[2020-04-14 23:32] johndowns opened #28 "Add text to the top of the voucher screen to say when the last data refresh was"
e.g. ‘This shows you the vouchers sold as at the end of 14 April’

[2020-04-14 23:55] dwdowns opened #29 "Allow vendors to edit their product profile"
* Add or edit their description text
* Add or change variants
* Upload or edit photos

[2020-04-14 23:57] dwdowns opened #30 "Add ability to upload photos to the registration page"
Allow users to upload photos into a store, which is then used to populate the new Product setup in Shopify

[2020-04-15 20:25] johndowns opened #31 "Change voucher data model - donation is now a string"
Due to a change in the way we track vouchers, would it be possible to change a field on the Voucher import? Currently there is a field called ‘isDonation’ which is with blank or TRUE.

Would like to change it to ‘VoucherType’ which will be a string (currently values are ‘Voucher’ and ‘Donation’)

[2020-04-16 03:18] #6 closed, assigned to nobody

[2020-04-16 03:28] johndowns opened #32 "Don't enforce T&Cs on vendors who have already agreed to them"
The vendor API will return a new property called `HasAgreedToTerms`. If the value of this is `true`, the front-end should hide the checkbox and does not need to set the `DateAcceptedTerms` on the `PUT`.

@JackDownsNZ are you ok with this change?

[2020-04-16 03:29] johndowns opened #33 "Make vendor contact name and phone number editable"
This requires a front-end and back-end change. @JackDownsNZ any concerns?

[2020-04-16 03:30] johndowns opened #34 "Change 'Submit' to 'Save' on vendor update"
Please change the text of the button from `Submit` to `Save` on the vendor details update form.

[2020-04-16 03:32] #34 closed, assigned to JackDownsNZ

[2020-04-16 08:50] johndowns opened #35 "Add administrative interface"
Feature set:
* Search for vendor by company name, vendor ID, email address, tag
* Read-only view of what the vendor sees - details, payments, vouchers
* Update a single string 'tag' field, which the vendor can't see
* Export vendor list (implemented already, but would need to be moved)

This could work using a custom attribute to act as a role claim. The front-end would then need to have a hidden

[2020-04-17 02:38] #25 closed, assigned to nobody

[2020-04-17 06:17] #32 closed, assigned to johndowns, JackDownsNZ

[2020-04-17 06:17] #33 closed, assigned to johndowns, JackDownsNZ

[2020-04-18 20:42] johndowns opened #45 "Add new ‘ready for click and collect’ flag to vendors"
Done for editing existing vendors
In progress for creating new vendors

[2020-04-18 20:42] #23 closed, assigned to nobody

[2020-04-18 23:16] JackDownsNZ opened #47 "UI color change to match new color on sosbusiness.nz"

[2020-04-19 01:53] #45 closed, assigned to johndowns, JackDownsNZ

[2020-04-19 02:04] JackDownsNZ commented on #35
@johndowns im getting a 404 when trying to download vendor list via `GET /internal/vendors/csv`

[2020-04-19 02:05] JackDownsNZ commented on #35
also getting a 404 when searching for vendor using `GET /internal/vendors?vendorId=xxx&name=yyy&emailAddress=zzz&tag=xxx`

Have made sure that the vendor im searching for does exist. Been searching by Name, Email and ID

[2020-04-19 02:05] johndowns commented on #35
Yeah that's because the latest PRs have overwritten that branch's deployment. Give me a few mins and I'll re-deploy that branch

[2020-04-19 02:09] JackDownsNZ commented on #35
Ah darn thanks!

[2020-04-19 02:11] johndowns commented on #35
Yeah we only have one test environment, so the last PR to deploy to it will overwrite anything else.

The PR is updated and the test API shuold be updated in the next few mins (https://github.com/johndowns/soscafe/pull/42/checks?check_run_id=598766134)

[2020-04-19 02:29] JackDownsNZ commented on #35
Hm still no luck - might be my end, but im trying to process this below and its coming up with 404

https://soscafevendor-test.azurewebsites.net//internal/vendors?vendorId=${searchTerm}&name=${searchTerm}&emailAddress=${searchTerm}&tag=${searchTerm}

where searchTerm = 4351379800086 (vendor ID for Admin Test Business - owned by john+admintest user)

It should work but still getting 404.

[2020-04-19 02:54] JackDownsNZ commented on #35
Scratch the above - got it working

[2020-04-19 02:58] JackDownsNZ commented on #35
@johndowns are we adding the view for Payments & Vouchers for each business under Admin view? Noticed it wasn't in your above API details. Ive added the functionality anyway.

[2020-04-19 03:30] #47 closed

[2020-04-19 03:52] JackDownsNZ commented on #27
All complete on branch `voucher-search` ready to create PR when appropriate.

[2020-04-19 21:05] JackDownsNZ opened #50 "Chrome (PC) Loading Bug"
hello@toastedas.nz having issues loading vendor portal with Chrome on PC - however they are able to use Firefox. So far this is a one-off issue, only with this user. No other reports, unable to replicate.

Error logs from their Chrome attached. Looks to be API issue. Possible timeout?

![Screenshot (19)](https://user-images.githubusercontent.com/39084899/79699795-d9b71f00-82e5-11ea-95e3-5b9ceaad37

[2020-04-19 23:49] johndowns commented on #50
No, looks like a bug with the front-end authentication stuff, unfortunately. Not sure what to do about this. We need someone experienced with Angular.js auth to help.

[2020-04-20 00:35] JackDownsNZ commented on #50
Possible second case of bug: info@nose2tail.co.nz

[2020-04-20 00:47] JackDownsNZ commented on #50
Error seems to be within MSAL Auth? Similar issue here: https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1222#issuecomment-578848289

<img width="498" alt="Screen Shot 2020-04-20 at 12 45 31 PM" src="https://user-images.githubusercontent.com/39084899/79704287-d41d0180-8304-11ea-9937-3d8ec80f9f02.png">

[2020-04-20 02:16] johndowns commented on #50
I'm getting the below error in some of my sessions. Looking at [this issue](https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/349) it seems like it's a cross-site cookie issue, which we've also run into in Safari (see [this issue on our repo](https://github.com/johndowns/soscafe/issues/1)). I suspect that we need to either wait for MSAL to release a new version that resolve

[2020-04-20 06:07] joyceqnz opened #53 "Integrate 'click and collect' opt-in integrated with MailChimp"
Can we connect mailchimp or sendgrid with the vendor portal, so that when vendors opt in to C&C, they get an automated email with information. Similar to the vendor sign up flow, but for a Click & Collect email instead. This is so that we don't have to manually pull a list everyday, vlookup who we contacted the day before and then manually reach out to them with the same messaging.

[2020-04-20 08:33] #35 closed

[2020-04-20 10:59] joyceqnz opened #56 "Pick Up/Delivery checkboxes in Vendor Portal"
Vendors are able to check "I can do Pick Ups" and/or "I can do Delivery" in the Vendor portal which then passes through to Shopify and tags products "Pick" and/or "Delivery". We have created a new section on the site so customers can filter by vendors in their area who offer Pick Up and Delivery as a directory in Level 3.

[2020-04-21 03:51] JackDownsNZ commented on #56
Working Branch: `pickup-delivery`

[2020-04-21 03:52] JackDownsNZ commented on #56
@joyceqnz is pickup the same as click & collect?

[2020-04-21 03:59] #27 closed

[2020-04-21 06:22] johndowns commented on #26
@JackDownsNZ Here’s a proposal - let me know if this is workable from your side.

On the GET /vendors/{vendorId}/vouchers response there will be a new property on each voucher - dateRedeemed (a datetime - null if not redeemed).

On the UI there will be some way of showing that a voucher has been redeemed (I.e. that dateRedeemed is not null). David suggested a button on the non-redeemed vouchers th

[2020-04-21 08:11] johndowns commented on #56
@joyceqnz once you answer Jack's question I can sort out the back-end implementation and we should be able to get this done pretty quickly.

[2020-04-21 08:37] JackDownsNZ commented on #26
@johndowns Yea that sounds fine from my side!

[2020-04-21 08:38] johndowns commented on #26
@dwdowns Do you think we will need to account for vouchers being 'unredeemed' - e.g. accidental redemptions?

[2020-04-21 08:38] JackDownsNZ commented on #26
What if someone accidentally click Redeem on a voucher that they didn't mean to? Maybe we need a two step process on the front end?

Ha! Same thought!

[2020-04-21 08:39] JackDownsNZ commented on #26
Also... is it possible to partially redeem a voucher? e.g. $10 from a $50 voucher...

[2020-04-21 08:44] dwdowns commented on #26
Yes but for the purposes of what you are doing we aren’t going to track that. The POS can track that

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz>
Check out my TEDx talk<https://tedxauckland.com/talks/reflections-of-a-genetically-modified-optimist/>.

From: Jack Downs <notifications@github.com>
Sent: Tuesday, 21 April 2020 8

[2020-04-21 08:45] dwdowns commented on #26
Yes – this isn’t meant to be perfect, just a way for the vendor to mark them off. If they do that by mistake we should allow them to unclick it too

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz>
Check out my TEDx talk<https://tedxauckland.com/talks/reflections-of-a-genetically-modified-optimist/>.

From: Jack Downs <notificat

[2020-04-21 08:52] JackDownsNZ commented on #56
@johndowns just talked to joyce - not the same, you all good to setup those options? Front end is pretty much ready

[2020-04-21 08:53] johndowns commented on #56
OK so just to be clear, there will be three separate checkboxes:
* Enabled for click and collect
* Enabled for pickup
* Enabled for delivery

Correct?

[2020-04-21 08:59] JackDownsNZ commented on #56
yep!

i have them named as:

isClickAndCollect
isPickup
isDelivery

[2020-04-21 09:01] JackDownsNZ commented on #56
@johndowns FYI - this change isn't to be launched just yet, as there needs to be some work done on the Shopify end. Joyce will email us in advance letting us know when to push live. Most likely this weekend.

[2020-04-21 09:02] JackDownsNZ commented on #26
Cool - you have all the right answers! Thanks!

John - does the fact that they are able to untick them too make a difference to you here? Or do we just reset the value to null if they do untick?

[2020-04-21 09:06] johndowns commented on #26
Yeah just set to null please. I will look at this tomorrow

On Tue, 21 Apr 2020 at 21:02, Jack Downs <notifications@github.com> wrote:

[2020-04-21 09:08] johndowns commented on #56
OK. I will probably do the API side sooner though, and then you can
make/merge the front-end part whenever. Sound ok?

On Tue, 21 Apr 2020 at 21:02, Jack Downs <notifications@github.com> wrote:

[2020-04-21 20:23] johndowns opened #57 "Reject CSV records if Shopify ID is not numeric"
This will help protect against Excel’s silly exponential notation thing

[2020-04-21 22:41] dwdowns opened #58 "Sorting in the portal"
Can we enable sorting in the columns on the site?

[2020-04-21 23:02] johndowns commented on #58
Duplicate of #18

[2020-04-21 23:03] #58 closed

[2020-04-21 23:12] JackDownsNZ opened #59 "Change services tag to service upon business creation"
Correction for vendor-new form. Shopify must receive the tag _service_ not _services_.

[2020-04-21 23:13] JackDownsNZ commented on #59
Working Branch: `service-fix`

[2020-04-21 23:14] JackDownsNZ commented on #59
@johndowns are there any changes in the backend that need to be done as well for this?

[2020-04-21 23:19] johndowns commented on #59
@JackDownsNZ backend is done and on same branch. Can you open a PR when ready

[2020-04-21 23:28] #59 closed

[2020-04-21 23:39] #57 closed

[2020-04-21 23:42] johndowns commented on #56
API changes have been made, and a draft PR has been created to test this out on the test environment. Are you ok to give it a go?

[2020-04-21 23:44] johndowns commented on #31
@dwdowns are you ready for me to make this change now? Do we need to synchronise it with changes to your CSV files?

[2020-04-22 01:32] dwdowns commented on #31
Cool – No I think you can just change. I will update the file once you’re done

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz>
Check out my TEDx talk<https://tedxauckland.com/talks/reflections-of-a-genetically-modified-optimist/>.

From: John Downs <notifications@github.com>
Sent: Wednesday, 22 April 2020 1:32 PM
To: johndowns

[2020-04-22 01:35] dwdowns opened #63 "add a field for the click and collect to the vendor upload"
We are nearly finished with the vendor upload, but I realised when I uploaded a set last night it removed the C&C field that people had filled in. is it easy to add this field to the upload so I can re-instate the setting? Saves about an hour of manual updates so if it will take longer than that then don;t worry

[2020-04-22 01:36] dwdowns commented on #13
This is low priority for now thanks

[2020-04-22 01:38] dwdowns commented on #28
yes - low priority now thanks

[2020-04-22 01:38] #28 closed

[2020-04-22 01:39] JackDownsNZ commented on #26
Working Branch: `voucher-redeem`

[2020-04-22 01:56] johndowns commented on #63
You should be able to do this right now - the field name is `Click and Collect`

(If you do a vendor export, the CSV format that that emits is exactly what you can import.)

[2020-04-22 01:58] dwdowns commented on #63
Ah cool! thanks

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz>
Check out my TEDx talk<https://tedxauckland.com/talks/reflections-of-a-genetically-modified-optimist/>.

From: John Downs <notifications@github.com>
Sent: Wednesday, 22 April 2020 1:56 PM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David Downs <david@do

[2020-04-22 02:41] JackDownsNZ commented on #26
@johndowns I've got the front end side pretty much ready. Let me know once the backend is ready and Ill test it out.

[2020-04-23 05:40] JackDownsNZ opened #65 "Underline links"
Underline links in front end

[2020-04-23 06:40] dwdowns opened #67 "Portal - VendorID"
Please add a view only fiend to the vendor portal showing their vendor ID (it would be good to get people to use it when communicating with us). Thanks

[2020-04-23 07:23] johndowns commented on #67
Are you ok to make this change please @JackDownsNZ?

[2020-04-23 07:23] JackDownsNZ commented on #67
Yep will do this evening.

[2020-04-23 07:37] #65 closed

[2020-04-23 18:15] #67 closed

[2020-04-23 21:05] johndowns commented on #63
Is this existing functionality OK @dwdowns? Can we close this issue?

[2020-04-23 21:06] dwdowns commented on #63
Yes it works fine now thanks

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz>
Check out my TEDx talk<https://tedxauckland.com/talks/reflections-of-a-genetically-modified-optimist/>.

From: John Downs <notifications@github.com>
Sent: Friday, 24 April 2020 9:06 AM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David Downs

[2020-04-23 21:07] #63 closed

[2020-04-23 23:07] dwdowns opened #70 "Add a field or something to hide the vendor"
We have a number of duplicate records - mostly because people set themselves up twice. We catch these in shopify and don't show duplicates but we'd like a way to not display duplicates on the portal.
EG search for 'Laundry' - 2 records set up.
If we had a flag that we see in admin view to 'hide from main portal' then we could tick that, and if people log in who has access to that it won't show the

[2020-04-23 23:20] dwdowns opened #71 "Re-order of fields on Vendor list export"
If possible, can we reorder the fields in the vendor export to be:

Registered
Shopify ID
Business   Name
Contact   Name
Email
Phone   Number
Bank   Account
Click   and Collect
Date   Accepted Terms

[2020-04-23 23:25] johndowns commented on #70
Should be possible - I'll take a look.

Would you want the hidden vendors to appear in the admin portal, and/or the CSV export of all vendors?

[2020-04-23 23:26] johndowns opened #72 "CSV export of vouchers and payments does not work for admins"
Currently returning a 404.

[2020-04-23 23:35] dwdowns commented on #70
Yes and Yes

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz>
Check out my TEDx talk<https://tedxauckland.com/talks/reflections-of-a-genetically-modified-optimist/>.

From: John Downs <notifications@github.com>
Sent: Friday, 24 April 2020 11:26 AM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David Downs <david@downsy.c

[2020-04-24 04:13] joyceqnz opened #73 "Add fields for vendor to indicate their open status for each alert level"
This info will be added to their listing so customers can quickly browse and click to their platforms to order C&C/Delivery

[2020-04-24 08:12] johndowns opened #74 "Implement token nonces"
We should implement a nonce when issuing an ID token, to mitigate replay attacks.

Before signing in, generate and write a nonce value to session storage and append to the redirect URL. After signing in, parse the ID token and compare the nonce claim in it with that in session storage. If OK, proceed.

[2020-04-24 08:14] johndowns opened #75 "Use session storage for tokens rather than local storage"
Currently the app reads and writes tokens from and to the browser's local storage (on disk). Ideally, session storage is used.

[2020-04-24 08:15] johndowns opened #76 "Obtain ID token and access token at the same time"
Currently there are two redirects to get the access token, the first one to authenticate and receive the ID token and the second one to SSO and receive the access token. This manifests as the first navigation after sign-in being apparently ignored (although it is actually redirected to the app homepage with a query string parameter of `?state=xxx`).

It would be preferable to have both tokens issu

[2020-04-24 08:26] johndowns commented on #71
@dwdowns Where would you like `InternalTag`? After `Date Accepted Terms`?

[2020-04-24 08:36] johndowns commented on #72
Hey @JackDownsNZ this is a front end bug.

Looks like the API it's trying to get the CSV files from is:
`https://vendorapi.soscafe.nz//internal/vendors/{vendorId}/vouchers/csv`

but it should be:
`https://vendorapi.soscafe.nz//vendors/{vendorId}/vouchers/csv`

You ok to fix this up?

[2020-04-24 08:50] dwdowns commented on #71
Yes thanks

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz/>
Check out my TEDx talk<https://www.ted.com/talks/david_downs_don_t_humour_the_tumour_beating_cancer_with_science_and_optimism>.

From: John Downs <notifications@github.com>
Sent: Friday, 24 April 2020 8:26 PM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: Davi

[2020-04-24 08:54] johndowns commented on #71
Ok, this is done but I'll merge tomorrow alongside the other changes.

[2020-04-24 09:07] dwdowns commented on #71
Thank you

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz/>
Check out my TEDx talk<https://www.ted.com/talks/david_downs_don_t_humour_the_tumour_beating_cancer_with_science_and_optimism>.

From: John Downs <notifications@github.com>
Sent: Friday, 24 April 2020 8:55 PM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David

[2020-04-24 18:46] #1 closed

[2020-04-24 18:46] #50 closed

[2020-04-24 20:43] johndowns commented on #53
@dwdowns thoughts on this?

[2020-04-24 21:00] dwdowns commented on #53
Not sure this is required any more... I think its been superceded

[2020-04-25 00:41] JackDownsNZ commented on #26
@johndowns front end is now ready. Just need backend to pass the dateRedeemed object so I can test.

[2020-04-25 02:02] joyceqnz commented on #73
@johndowns David created this beautiful and succinct graphic of what we need on the vendor portal by tomorrow: https://screenshot.click/20-04-7m9b0-n66o7.png :D Let me know if this is possible

[2020-04-25 02:36] dwdowns opened #79 "Display Vendor ID (Shopify ID) in vendor form"
Please show the vendor ID (read only) in the vendor form for both users and admins. Call it 'Vendor ID'

[2020-04-25 02:38] dwdowns opened #80 "Allow admins to edit everything about the vendor record"
Including Business Name, Email Address and Date Registered (not the ID)

[2020-04-25 03:37] JackDownsNZ commented on #79
Already displaying in Vendor view - adding to Admin view

[2020-04-25 03:37] JackDownsNZ commented on #79
Working Branch: `businessID-admin`

[2020-04-25 03:41] JackDownsNZ commented on #80
@johndowns not sure whats needed on the backend to enable this (although I can expect issues with editing email address...)

But front end will be quick to change - so will do once you have had time to check backend.

[2020-04-25 03:45] JackDownsNZ commented on #73
Frontend Working Branch: `alert-level-status`

[2020-04-25 04:31] #79 closed

[2020-04-25 04:33] johndowns commented on #80
@dwdowns What do you want to do if the email address changes, with regards to the user role assignments?

[2020-04-25 04:47] dwdowns commented on #80
Can we automatically add the new (updated) email address to that table?

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz>
Check out my TEDx talk<https://tedxauckland.com/talks/reflections-of-a-genetically-modified-optimist/>.

From: John Downs <notifications@github.com>
Sent: Saturday, 25 April 2020 4:34 PM
To: johndowns/soscafe

[2020-04-25 04:47] johndowns commented on #73
@JackDownsNZ I'll start working on this back-end change now. I'll use the same branch as you.

I plan to add the following extra properties to the vendor details API models:

* `level1Closed` (boolean)
* `level1Delivery` (boolean)
* `level1ClickAndCollect` (boolean)
* `level1Open` (boolean)
* `level2Closed` (boolean)
* `level2Delivery` (boolean)
* `level2ClickAndCollect` (boolean)
* `level2Open` (

[2020-04-25 04:49] #71 closed

[2020-04-25 04:49] JackDownsNZ commented on #73
Perfect! I've done the front end side, will need to make a few edits but should work once the backend is going. I'm working in alert-level-status
________________________________
From: John Downs <notifications@github.com>
Sent: Saturday, April 25, 2020 4:47:42 PM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: Jack Downs <jack@downs.kiwi>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-04-25 04:57] #72 closed

[2020-04-25 04:58] johndowns commented on #56
This has been replaced by #73

[2020-04-25 04:58] #56 closed

[2020-04-25 04:59] johndowns commented on #53
@dwdowns can you confirm if this is still required and if not can you close the issue please?

[2020-04-25 05:00] dwdowns commented on #53
It was joyce who asked for it...

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: John Downs <notifications@github.com>
Sent: Saturday, April 25, 2020 4:59:54 PM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David Downs <david@downsy.co.nz>; Mention <mention@noreply.github.com>
Subject: Re: [johndowns/soscafe] Click & Collect Opt-in integrated with mail s

[2020-04-25 05:01] johndowns commented on #73
@joyceqnz / @dwdowns  - can you confirm if new vendors should be asked for this information when they sign up, or if it's only able to be edited on existing vendor records?

[2020-04-25 05:01] dwdowns commented on #53
But I will Check and let you know

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: David Downs <david@downsy.co.nz>
Sent: Saturday, April 25, 2020 5:00:41 PM
To: johndowns/soscafe <reply@reply.github.com>; johndowns/soscafe <soscafe@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [johndowns/soscafe] Click & Collect Opt-in integrated with

[2020-04-25 05:02] dwdowns commented on #73
Ideally let’s ask them when they register a business too but it’s optional.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: John Downs <notifications@github.com>
Sent: Saturday, April 25, 2020 5:01:25 PM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David Downs <david@downsy.co.nz>; Mention <mention@noreply.github.com>
Subject: Re: [johndowns/soscafe] Ad

[2020-04-25 05:14] johndowns commented on #73
@JackDownsNZ I have opened a PR so that we can test this out. I've got the back-end part done for editing existing vendors. I'll do new vendors shortly. Are you able to do the front-end changes for new vendors too please?

[2020-04-25 05:27] johndowns commented on #73
@JackDownsNZ I've implemented the back-end changes to support new vendors having these fields too.

Can I leave this with you to test? I will pick up again later this evening to check out any bugs etc.

[2020-04-25 06:32] JackDownsNZ commented on #73
Yep I'll have to take a look later tonight or tomorrow morning though
________________________________
From: John Downs <notifications@github.com>
Sent: Saturday, April 25, 2020 5:27:29 PM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: Jack Downs <jack@downs.kiwi>; Mention <mention@noreply.github.com>
Subject: Re: [johndowns/soscafe] Add fields for vendor to indicate their open status for

[2020-04-25 06:46] dwdowns commented on #73
Thank you fellas

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz/>
Check out my TEDx talk<https://www.ted.com/talks/david_downs_don_t_humour_the_tumour_beating_cancer_with_science_and_optimism>.

From: Jack Downs <notifications@github.com>
Sent: Saturday, 25 April 2020 6:33 PM
To: johndowns/soscafe <soscafe@noreply.github.com>

[2020-04-25 11:49] JackDownsNZ commented on #73
@dwdowns alert level status changes are all live on the test site for vendors (https://soscafevendoruiproxytest.azurewebsites.net/) are you able to go check that it's what you wanted?

Will add to admins also.

[2020-04-25 11:56] JackDownsNZ commented on #73
Have added to admin view also - will full edit access.

[2020-04-25 19:30] #74 closed

[2020-04-25 19:30] #75 closed

[2020-04-25 19:30] #76 closed

[2020-04-25 19:31] johndowns opened #84 "First navigation after sign-in performs extra redirection and returns to homepage"
Currently there are two redirects to get the access token, the first one to authenticate and receive the ID token and the second one to SSO and receive the access token. This manifests as the first navigation after sign-in being apparently ignored (although it is actually redirected to the app homepage with a query string parameter of ?state=xxx).

It would be preferable to have both tokens issued

[2020-04-25 19:31] johndowns commented on #84
@blckqdrnt would you have time to look at this please?

[2020-04-25 19:48] johndowns commented on #73
@joyceqnz Can you please check out the test site (https://soscafevendoruiproxytest.azurewebsites.net/) and see if it looks like what you expect? Currently these fields can only be set for existing vendors, not when new vendors register - but that is coming too.

[2020-04-25 20:07] dwdowns commented on #73
Excellent - thank you – these look great!

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz>
Check out my TEDx talk<https://tedxauckland.com/talks/reflections-of-a-genetically-modified-optimist/>.

From: John Downs <notifications@github.com>
Sent: Sunday, 26 April 2020 7:49 AM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc

[2020-04-25 21:01] johndowns opened #85 "Investigate why importing CSV records with times fails"

[2020-04-25 22:53] blckqdrnt commented on #84
I am not able to replicate this. It's working fine for me. I've trimmed the id_token code from the authGuard to avoid confusion.

My flow is,
1. User lands on home page
2. User goes to signin screen
3. User returns to homepage
.
.
.
4. Token expires
5. User is redirected to auth url and back to page he was browsing.

[2020-04-25 23:12] johndowns commented on #84
Thanks @blckqdrnt - could you try this on the test site (https://soscafevendoruiproxytest.azurewebsites.net) in an incognito window please? I can reliably reproduce this issue so I'm wondering if it's different when it runs on the server vs. locally?

[2020-04-25 23:22] johndowns commented on #73
@joyceqnz @dwdowns as per other comment, this is all ready for you to test on the test site (https://soscafevendoruiproxytest.azurewebsites.net/).

Once you are happy we can release this to production.

[2020-04-25 23:25] johndowns opened #87 "Handle underscores in user names during vendor registration"
If a vendor with an underscore (or any other banned partition key character - `_`, `/`, `\`, or `#`) registers a new vendor, the logic app does not currently canonicalise their email address when it goes into the partition key.

[2020-04-26 00:00] joyceqnz commented on #73
Hey team! Looks great! Just want to confirm these are the specific properties that we can use on Shopify?

[2020-04-26 00:00] joyceqnz commented on #73
level1Closed (boolean)
level1Delivery (boolean)
level1ClickAndCollect (boolean)
level1Open (boolean)
level2Closed (boolean)
level2Delivery (boolean)
level2ClickAndCollect (boolean)
level2Open (boolean)
level3Closed (boolean)
level3Delivery (boolean)
level3ClickAndCollect (boolean)
level3Open (boolean)
clickAndCollectUrl (string)

[2020-04-26 00:07] johndowns commented on #73
As per earlier discussions this isn’t integrated with Shopify -will be a manual expOrt

[2020-04-26 00:41] joyceqnz commented on #73
Hey John, gotcha! Sorry I was thinking about this a different way. No issue with manual export :D Thanks for the beautiful work!!

[2020-04-26 01:02] johndowns commented on #73
No worries - I will release this to production later today when I get a few
minutes

On Sun, 26 Apr 2020 at 12:41 PM, joyceqnz <notifications@github.com> wrote:

[2020-04-26 02:28] johndowns commented on #80
@dwdowns yes we can - would you want to remove the role assignment for the old one though?

[2020-04-26 02:32] dwdowns commented on #80
No, we can leave it there as that's the more common case. I can always go in and remove the record if need be

[2020-04-26 04:05] #73 closed

[2020-04-26 04:23] johndowns opened #88 "Click and collect checkbox UI bug"
* Open vendor ID 4350932615224 to see this on production. I haven't replicated on a test vendor but I expect you can do it by adding a click & collect URL to the vendor then reopening the edit vendor UI.
* Uncheck 'I already have click & collect set up'
* Notice that the 'I am interested in setting up click & collect' reappears, but is pre-checked. If you uncheck it, it doesn't actually uncheck an

[2020-04-26 04:24] johndowns commented on #73
This has been released :)

On Sun, 26 Apr 2020 at 13:02, John Downs <john@johndowns.co.nz> wrote:

[2020-04-26 04:25] johndowns commented on #80
@JackDownsNZ How will this go on the front-end re the date registered? Any concerns with showing a UI date picker element?

[2020-04-26 04:41] johndowns commented on #26
@JackDownsNZ I have just merged my branch into yours, so the `voucher-redeem` branch has all of these changes on it. I also merged master onto that branch. Can you please check the merge didn't screw anything up, since it was a large merge.

I am still working on the back-end for this but hoping it will be done soon.

[2020-04-26 04:51] johndowns commented on #26
Also just to be clear @JackDownsNZ - to update a voucher's redemption status you need to use the `PATCH` API, with the URL `/vendors/{vendorId}/vouchers/{voucherId}` - and note that `{voucherId}` in that URL is the voucher's `lineItemId`, NOT the `voucherId` (confusing, I know... sorry)

[2020-04-26 04:57] johndowns commented on #26
@JackDownsNZ I've committed the core changes, but haven't fully tested them yet. Hopefully can do a bit of testing this evening.

[2020-04-26 06:55] joyceqnz commented on #73
Amazing thanks John!

[2020-04-26 07:50] #11 closed

[2020-04-26 10:22] blckqdrnt commented on #84
Ahh! I see what you mean.

This is not a double redirect. It's the auth guard in action. The auth logic does not request an id_token, it requests an access_token directly. Let me tell you how,

1. On visiting https://soscafevendoruiproxytest.azurewebsites.net/ if I am not logged in, it redirects me to the SSO page https://soscafetest.b2clogin.com/soscafetest.onmicrosoft.com/b2c_1_signupsignin/oaut

[2020-04-26 11:31] blckqdrnt commented on #84
I've also noticed a routing bug.

1. Log in
2. Arrive at /vendors
3. Click on a vendor from the list

It will initiate the auth workflow once again.

This is a routing issue. In the vendor-list.component.html file, line 27, the address to route /vendors/:id is done incorrectly. It shouldn't be ['/vendors/', row.id], but should be ['/vendors/'+row.id] I'm not clear why the router behaves differentl

[2020-04-26 21:21] dwdowns opened #92 "Weirdness in display of refunded vouchers"
Here is another wee conundrum though – check out vendor
4350043095096

Row key
4337079418936

In Azure it has (correctly) this for the voucher ID
** REFUNDED AE00-E529-79C2-E368-4763

But in the portal it is displaying it like
REFUNDED AE00-E529-79C2-E368-4763 **

And weirdly if you copy it from the portal and paste it somewhere it displays as
** REFUNDED AE00-E529-79C2-E368-4763

[2020-04-26 21:35] johndowns commented on #92
@JackDownsNZ could you please take a look - I think this is due to the way the right alignment and truncation of that column works

[2020-04-26 21:57] #18 closed

[2020-04-26 21:57] #19 closed

[2020-04-26 22:44] JackDownsNZ commented on #26
@johndowns cool have updated the frontend to reflect that (PATCH & lineItemId) - have tested but coming back with 404. Will look into my side as its most likely front end issue.

[2020-04-26 22:45] JackDownsNZ commented on #80
Nope no concerns there - let me know once the backend is ready and ill make the needed changes on my side

[2020-04-26 22:45] JackDownsNZ commented on #88
Looking into now.

[2020-04-26 22:45] JackDownsNZ commented on #92
Woah weird indeed! Will look into it.

[2020-04-26 22:46] johndowns commented on #26
No it's becaue that branch isn't deployed. I am sorting out another branch
first and will let you know when ready.

On Mon, 27 Apr 2020 at 10:44, Jack Downs <notifications@github.com> wrote:

[2020-04-26 22:48] johndowns commented on #26
Also the front-end build is failing @JackDownsNZ - I can't deploy the API changes to the test environment until it's fixed.

https://github.com/johndowns/soscafe/pull/90/checks?check_run_id=619365074

[2020-04-26 22:48] JackDownsNZ commented on #26
Looks like dateRedeemed doesn't exist (at least on the business I'm using to test - 4349964779576)

[code]

[2020-04-26 22:49] johndowns commented on #26
Yes as per my above comment, the branch with the API changes isn't deployed and I can't deploy until the front-end build works

[2020-04-26 22:49] JackDownsNZ commented on #26
Ah ok sorry just saw that now - have pushed my frontend changes.

[2020-04-26 22:58] #16 closed

[2020-04-26 23:07] johndowns opened #93 "Look at sort order of voucher IDs"
The client-side sorting of vouchers seems to have an oddity when handling the voucher ID column. For example, see the business 'Crave' (ID 4349746282552).

Nik advised that the sort order only works well for strings, so potentially this requires replacing the Angular Material sorting component?

[2020-04-26 23:12] #87 closed

[2020-04-26 23:21] johndowns commented on #84
Thanks @blckqdrnt - good catch. I've merged the pending PRs - if you are able to do a hotfix for this that would be awesome :)

[2020-04-26 23:34] JackDownsNZ commented on #88
Logic was too complicated for such a simple user choice. Have removed and changed to basic UI.

[2020-04-26 23:34] JackDownsNZ commented on #88
Working Branch: `bug-fixes`

Will PR once I have also fixed #92

[2020-04-27 01:33] johndowns opened #94 "B2C password reset results in “password has expired” error"
Whenever we reset a user’s password using the B2C UI, we can reset the password to a temporary password provided by B2C - but then when the user logs in they get an error saying “Password has expired”, and there seems to be no way for them to log in using that temporary password.

@chrispadgettlivecom any ideas? :)

[2020-04-27 03:01] JackDownsNZ commented on #80
Working Branch: `admin-updates`

[2020-04-27 04:42] #26 closed

[2020-04-27 06:54] #88 closed

[2020-04-27 06:54] #92 closed

[2020-04-27 07:58] johndowns commented on #70
@dwdowns Do you have any rough idea how many businesses might be hidden? Is it likely to be single digits, tens or hundreds?

[2020-04-27 08:00] dwdowns commented on #70
Tens, maybe up to a hundred.

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz/>
Check out my TEDx talk<https://www.ted.com/talks/david_downs_don_t_humour_the_tumour_beating_cancer_with_science_and_optimism>.

From: John Downs <notifications@github.com>
Sent: Monday, 27 April 2020 7:59 PM
To: johndowns/soscafe <soscafe@noreply.gi

[2020-04-27 08:25] johndowns commented on #70
@JackDownsNZ I've implemented the API side of this (but not fully tested). Are you able to add your front-end code for this onto the same branch please?

[2020-04-27 08:32] JackDownsNZ commented on #70
Done - its just front end (only html at this stage) until you let me know what to trigger.

[2020-04-27 08:40] johndowns commented on #70
OK cool. You should be able to use a new property called isHidden on the vendor details

[2020-04-27 13:50] blckqdrnt commented on #93
Hi @johndowns could you please identify the oddity?

Ascending should be: Special Characters > [0-9] > [A-Z]
![image](https://user-images.githubusercontent.com/64027058/80379707-8c910980-88f2-11ea-8219-16ecafda4675.png)

Descending should be: [Z-A] > [9-0] > Special Characters
![image](https://user-images.githubusercontent.com/64027058/80379752-a16d9d00-88f2-11ea-9d12-863b63f743f2.png)

Seems to b

[2020-04-27 14:49] blckqdrnt commented on #93
Hi @johndowns I've figured out what the oddity is.

![image](https://user-images.githubusercontent.com/64027058/80385711-8737bd00-88fa-11ea-8fc9-45de3f1ce8bc.png)

There are some voucher IDs which are all numbers. These are the ids which are displaying the oddity of not being sorted. If I suffix a string (in the above picture, I have suffixed "-"), these ids are sortable again.

My recommendation

[2020-04-27 16:04] blckqdrnt commented on #84
PR with hotfix made

[2020-04-27 20:17] dwdowns opened #99 "Editing business name in admin view doesn't appear to save"

[2020-04-27 20:21] #99 closed

[2020-04-27 21:30] dwdowns commented on #13
Hi - are we able to re-open this and see if we can do something quickly? We are having an issue where people are buying vouchers and turning up to the stores immediately so the venue doesn't know about them. I wonder if we can implement a data pull from shopify directly to the portal page.
I'm in work meets for a few hours but can describe it better later what I am thinking

[2020-04-27 21:35] johndowns commented on #13
Ok. Can you tell me what the data type in Shopify is - is it called a
voucher or is it an order or something else?

On Tue, 28 Apr 2020 at 9:30 AM, dwdowns <notifications@github.com> wrote:

[2020-04-27 21:37] dwdowns commented on #13
An order
https://shopify.dev/docs/admin-api/rest/reference/orders/order

David Downs
david@downsy.co.nz<mailto:david@downsy.co.nz>
021758967

From: John Downs <notifications@github.com>
Sent: Tuesday, 28 April 2020 9:36 AM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David Downs <david@downsy.co.nz>; Comment <comment@noreply.github.com>
Subject: Re: [johndowns/soscafe] Get voucher list d

[2020-04-27 21:42] johndowns commented on #13
Can you let me know when you are free to talk

On Tue, 28 Apr 2020 at 9:37 AM, dwdowns <notifications@github.com> wrote:

[2020-04-27 21:43] dwdowns commented on #13
Free at 12.30

David Downs
david@downsy.co.nz<mailto:david@downsy.co.nz>
021758967

From: John Downs <notifications@github.com>
Sent: Tuesday, 28 April 2020 9:43 AM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David Downs <david@downsy.co.nz>; Comment <comment@noreply.github.com>
Subject: Re: [johndowns/soscafe] Get voucher list directly by using Shopify API (#13)

Can you let me know wh

[2020-04-27 22:21] johndowns commented on #13
OK, I will try for a call then but will see how I go.

One of the things I need from you in order to progress this is exactly what
steps you go through today to pull down the voucher data and prepare it for
upload. Can you write this up in as much excruciating detail as possible?
For example:

   - Where do you go to get the export today
   - Do you put any filters when you export the data
   - On

[2020-04-27 22:23] dwdowns commented on #13
Lets talk at 11 if you are free?

David Downs
david@downsy.co.nz<mailto:david@downsy.co.nz>
021758967

From: John Downs <notifications@github.com>
Sent: Tuesday, 28 April 2020 10:22 AM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David Downs <david@downsy.co.nz>; Comment <comment@noreply.github.com>
Subject: Re: [johndowns/soscafe] Get voucher list directly by using Shopify API (#13)

OK

[2020-04-27 22:24] johndowns commented on #13
Yes 11 should be good

On Tue, 28 Apr 2020 at 10:23, dwdowns <notifications@github.com> wrote:

[2020-04-27 23:57] dwdowns commented on #80
Can we allow admins to edit the email address on the vendor record too please?

[2020-04-27 23:58] johndowns commented on #80
Yes that is already covered by the work we are doing

[2020-04-27 23:58] johndowns commented on #80
Admins will be able to edit the business name, email address, and registration date

[2020-04-28 00:02] dwdowns commented on #80
Thanks.
I have someone helping me clean crappy data (inc email addresses)

David Downs
david@downsy.co.nz<mailto:david@downsy.co.nz>
021758967

From: John Downs <notifications@github.com>
Sent: Tuesday, 28 April 2020 11:59 AM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David Downs <david@downsy.co.nz>; Mention <mention@noreply.github.com>
Subject: Re: [johndowns/soscafe] Allow admins to

[2020-04-28 09:01] johndowns commented on #13
As per this evening's investigation, here is how we would calculate each of the fields we currently store using the Shopify API's `Order` model:

| Portal Entity  | Source |
| - | - |
| `CustomerAcceptsMarketing` | `buyer_accepts_marketing` |
| `CustomerEmailAddress` | `customer.email` |
| `CustomerName` | `customer.first_name + ' ' + customer.last_name` |
| `CustomerRegion` | `customer.default_ad

[2020-04-28 09:02] johndowns commented on #13
@dwdowns let me know if any of the above looks incorrect

[2020-04-28 09:13] dwdowns commented on #13
Cool – for now I think this looks great; hopefully we can do a side by side comparison of data to test

www.downwithcancer.nz<http://www.downwithcancer.nz/>
Check out my book here: www.mildtouch.nz<http://www.mildtouch.nz/>
Check out my TEDx talk<https://www.ted.com/talks/david_downs_don_t_humour_the_tumour_beating_cancer_with_science_and_optimism>.

From: John Downs <notifications@github.com>
Sen

[2020-04-28 09:15] johndowns commented on #84
Thanks @blckqdrnt - that hotfix has been deployed to the test environment but the double redirection is still happening. Is the hotfix intended to fix that issue or is it a separate thing?

cc FYI @JackDownsNZ

[2020-04-28 15:46] blckqdrnt commented on #84
Hi @johndowns the hotfix was for internal linking, which is related to the extra redirect, but I am still not able to understand what you mean with the double redirect. I have explained the workflow in my comments above.

If you want we can catch up over Zoom and claarify the confusion.

[2020-04-28 15:47] blckqdrnt commented on #93
@johndowns what do you think about this?

[2020-04-28 18:16] johndowns commented on #84
@blckqdrnt Thanks. I've read through your [earlier comment](https://github.com/johndowns/soscafe/issues/84#issuecomment-619524430) again and I'm wondering whether we just need to change the redirect URL to `/vendors` - does that sound right?

Just to be 100% clear, [here's a short video I recorded to show what I'm seeing](https://1drv.ms/u/s!AjdI8rY4Mc911F2xsdE0onDPDdPH?e=YGu0JU).

The sequence is

[2020-04-28 18:28] blckqdrnt commented on #84
Thanks for the video @johndowns the PR was meant to address this. When I tested my fix, it was working as expected but now its not. Let me deal with this, I'll keep you posted.

[2020-04-28 19:48] blckqdrnt commented on #84
Hi @johndowns apparently there was a breaking change (not very well documented) in the way angular 9 handles guard constructors.

I moved all logic from the constructor to canActivate and it does the trick on my local. Can you test and let me know?

[2020-04-28 19:55] johndowns commented on #84
Nice one - that seems to have done it! Thank you :)

[2020-04-28 19:57] #84 closed

[2020-04-28 20:09] blckqdrnt commented on #84
Cool. Learnt something new today.

[2020-04-28 21:25] #70 closed

[2020-04-28 21:40] johndowns commented on #13
Yes, I’m planning on storing the Shopify-obtained vouchers in a separate table. We can keep using the old table while the new data comes in, and do comparisons and spot checks as needed.

[2020-04-28 21:56] dwdowns commented on #13
Cool – the other thing to keep in mind then is we may need to track the redemption in a separate table too, which can then link by the lineitem ID to either of the two tables.

David Downs
david@downsy.co.nz<mailto:david@downsy.co.nz>
021758967

From: John Downs <notifications@github.com>
Sent: Wednesday, 29 April 2020 9:41 AM
To: johndowns/soscafe <soscafe@noreply.github.com>
Cc: David Downs <dav

[2020-04-28 22:02] johndowns commented on #13
We already do that :)

On Wed, 29 Apr 2020 at 9:57 AM, dwdowns <notifications@github.com> wrote:

[2020-04-28 22:12] dwdowns commented on #94
Any update on this? One cafe owner is unable to get in (Manuka cafe)

[2020-04-28 22:14] johndowns commented on #94
Have they tried using the ‘I forgot my password’ option? What happens?

On Wed, 29 Apr 2020 at 10:12 AM, dwdowns <notifications@github.com> wrote:

[2020-04-28 22:15] dwdowns commented on #94
Yes, and when they get in they can't see any entries. I wanted to try to log in as them to see why.  I've bee back and forth and seen screen shots; can't work out why

[2020-04-28 22:17] johndowns commented on #94
Can you email me (not on here) the email address and vendor ID?

On Wed, 29 Apr 2020 at 10:15 AM, dwdowns <notifications@github.com> wrote:

[2020-04-28 22:30] dwdowns commented on #94
done

[2020-04-29 04:13] dwdowns commented on #94
FYI the urgency has gone out of this as he managed to log in. Thanks

[2020-04-29 05:38] dwdowns opened #100 "Save button on admin screen not enabled"
Not sure if a change was made, but I can't seem to save things on the Admin screens anymore. Nothing triggers the Save button to light up.

[2020-04-29 07:16] johndowns commented on #100
@JackDownsNZ Could you please take a look?

[2020-04-29 10:48] #13 closed

[2020-04-30 20:23] dwdowns opened #103 "Bug in Portal - not saving Name, combinations"
It's hard to work out exactly, but there seem to be times when saving combinations of changes to the portal works, but individual items doesn't eg I think if I just change the business name and save, it doesn't work, but if I change bank account as well, then it works?

[2020-04-30 20:31] johndowns commented on #103
Changing the business name isn’t currently working. There is a pending PR
for this but its waiting for Jack to finish some of it off.

On Fri, 1 May 2020 at 8:23 AM, dwdowns <notifications@github.com> wrote:

[2020-05-03 02:17] johndowns commented on #31
Covered by changes we are making to import vouchers from Shopify

[2020-05-03 02:17] #31 closed

[2020-05-03 02:38] johndowns opened #105 "Handle partial refunds of a single line item"
If a customer purchases a single line item with quantity=2. and then gets a refund for 1 of that quantity, we should handle this situation. Currently the whole voucher will show as refunded.

[2020-05-03 02:43] johndowns opened #106 "Manipulate voucher IDs before returning to portal"
{
If the lineitem status is "refunded" then add ‘** REFUNDED **’ to the front of the Voucher Code
OR
If the Voucher is a donation, then add ‘** DONATION **’ to the front of the voucher code
}

ELSE

If the Voucher code = “” then the Voucher Code should be set to ‘ORIGINAL-“ & The Voucher ID

In Excel:

[code]

[2020-05-03 02:51] johndowns commented on #105
Turns out this is not a possible scenario

[2020-05-03 02:51] #105 closed

[2020-05-03 03:36] johndowns commented on #93
@blckqdrnt sorry for the delay! As it happens we have revised the way vouchers are imported, and in the process I have made a change to ensure that we always use alphanumeric voucher IDs. So I think this should take care of the issue based on your investigation. I will leave the issue open until I confirm once we deploy the change though.

[2020-05-03 08:33] #93 closed

[2020-05-03 08:33] #106 closed

[2020-05-04 00:00] johndowns opened #108 "Provide admin export functionality for vouchers"
Add a CSV export feature to export all vouchers for all vendors, with the following fields (note field names will be exactly as specified here):

| Field Name | Order | Notes |
|-|-|-|
| `Vendor ID` | 1 | |
| `Vendor name` | 2 | Optional. It helps for being able to visually check who’s who. Need to confirm if this is feasible. |
| `Order Number ID` | 3 | This is `OrderId`. |
| `Order reference num

[2020-05-04 02:33] dwdowns commented on #108
Yes thank you :)

[2020-05-04 03:45] johndowns commented on #108
The back-end side of this has been completed. The front-end app needs to be updated.

@randiratnayake could you please take a look at this? There is a new 'admin view' (kind of like a sub-site to the main vendor portal) - if you have a special claim in your token you get a new option in the top-right menu to switch to admin view, and this gives superuser powers.

What we'd like to do for this is t

[2020-05-04 03:46] johndowns commented on #108
@randiratnayake the back-end components have been deployed to the test site, and if you use the `voucher-csv` branch then your changes will be auto-deployed when you push a commit. (We have CI/CD set up now!)

[2020-05-04 04:07] johndowns commented on #24
@dwdowns Do you still want this?

[2020-05-04 04:07] johndowns commented on #29
@dwdowns Do you still want this?

[2020-05-04 04:07] johndowns commented on #53
@joyceqnz Hey Joyce, is this still something you'd like?

[2020-05-04 04:07] johndowns commented on #30
@dwdowns Do you still want this?

[2020-05-04 05:17] #24 closed

[2020-05-04 05:17] #29 closed

[2020-05-04 05:17] #30 closed

[2020-05-04 05:17] #53 closed

[2020-05-04 05:18] dwdowns commented on #100
Seems to be working now, or related to the business name change thing

[2020-05-04 05:18] #100 closed

[2020-05-04 07:09] randiratnayake commented on #108
@johndowns the front end changes to have the ability to download all vouchers is committed to the feature branch.

The behaviour I see it takes a while for that download to return. So should there be some sort of visual feedback to indicate so? If that be nice to have work-related this issue is completed.

[2020-05-04 07:47] #108 closed

[2020-05-04 10:20] blckqdrnt commented on #93
Cool. Let me know if there's anything else I can help with

[2020-05-04 18:37] #80 closed

[2020-05-04 18:37] #103 closed

[2020-05-06 03:58] johndowns opened #111 "Voucher date time zone conversion isn't working correctly/consistently"
There appears to be a front-end issue or inconsistency in how dates are translated between time zones.

To see this problem, check vendor `4349947838520`, line item ID `4369240391736`, which has an `orderDate` coming back from the API as `2020-05-06T15:35:06Z`. (This is available in the test system.)

The order date returned by the API is 3.35pm on May 6th, which is the time in New Zealand when th

[2020-05-06 05:01] #111 closed